html {
    position: fixed;
    width: 1034;
    height: 696;
}

#title {
    width: 50%;
    height: 30%;
    top: 20%;
    position: absolute;
    opacity: 0%;
    animation: fadeIn 8s linear 1;
    animation-fill-mode: forwards;
}

body {
    background-image: url("../images/erbetta.jpg");
    display: flex;
    justify-items: flex-start;
    margin: 0 40% 0 40%;
    width: 1034px;
    height: 696px;
}

#buttonLine {
    height: 6%;
    width: 70%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    bottom: 1%;
    left: 15%;
}
#pentola {
    width: 230px;
    height: 200px;
    background-color: darkgray;
    position: absolute;
    top: 50%;
    left: 15%;
    border-radius: 0 0 50px 50px;
    border-bottom: solid 15px gray;
    border-left: solid 3px gray;
    border-right: solid 3px gray;
    z-index: 2;
}

#fire {
    width: 250px;
    height: 100px;
    position: absolute;
    bottom: 1%;
    background-color: darkcyan;
    left: 14%;
    border-radius: 0 0 30px 30px;
    border: solid 5px rgb(4, 110, 110);
    border-top: solid 20px burlywood;
}

.animate {
    animation: fire 5s linear infinite;
}

button {
    background-color: darkred;
    color: antiquewhite;
    border: solid 3px antiquewhite;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

button:disabled {
    opacity: 40%;
    cursor: auto;
}

.bolla {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 20%;
    background-color: azure;
    border-radius: 50%;
    opacity: 50%;
    visibility: hidden;
}

#one {
    width: 70px;
    height: 70px;
    left: 30%;
    animation: bolle 7s linear infinite;
}

#two {
    width: 25px;
    height: 25px;
    left: 35%;
    animation: bolle 5s linear infinite;
}

#three {
    animation: bolle 6s linear 2s infinite;
}

#four {
    left: 25%;
    animation: bolle 5s linear 3s infinite;
}

#five {
    left: 18%;
    animation: bolle 4.5s linear 1s infinite;
    width: 70px;
    height: 70px;
}

#six {
    left: 28%;
    animation: bolle 5.5 linear 4s infinite;
    width: 35px;
    height: 35px;
}

@keyframes bolle {
    0% {transform: translateY(50px);}
    100% {transform: translateY(-1000px);}
}

@keyframes fire {
    0% {border-top: solid 20px darkred}
    20% {border-top: solid 20px red}
    40% {border-top: solid 20px orange}
    60% {border-top: solid 20px #ffee00}
    80% {border-top: solid 20px rgb(252, 73, 18)}
    90% {border-top: solid 20px orange}
    100% {border-top: solid 20px darkred}
}

@keyframes fadeIn {
    0% {opacity: 0%}
    100% {opacity: 100%}
}